<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="common.css">
    <title>index</title>
</head>
<body>
<div class="side">
    <div class="side overlay">
        aaa
    </div>
    <footer align="center">
        <a href="file:///D:/Network/Blog/go-blog/resources/templates/layout_static.html">
            <!--object data="../icon/config.svg" width="100" height="100"
                    type="image/svg+xml"
                    codebase="http://www.adobe.com/svg/viewer/install/" /-->
            <img width="50px" src="../icon/config.svg" />
        </a>
        A &nbsp; &nbsp; B &nbsp; &nbsp; C
    </footer>
</div>
</body>
</html>